<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="bookingForm">
		<h3>Make a booking</h3>
		<form action="/bookings" th:action="@{/bookings}" method="post" th:object="${bookingForm}">
			<input type="hidden" th:name="vehicle" th:value="${vehicle.id}" />
             	<div class="form-field">
				<label>Check-in date</label><br/>
				<div class="fieldErrorMessage" th:if="${#fields.hasErrors('checkIn')}" th:errors="*{checkIn}">Form error</div>
				<input type="date" id="checkIn"
             			th:value="${#calendars.format(checkIn,'yyyy-MM-dd')}" th:name="${checkIn}" th:field="*{checkIn}" />
			</div>
			<div class="form-field">
				<label>Check-out date</label><br/>
				<div class="fieldErrorMessage" th:if="${#fields.hasErrors('checkOut')}" th:errors="*{checkOut}">Form error</div>
				<input type="date" id="checkOut"
             			th:value="${#calendars.format(checkOut,'yyyy-MM-dd')}" th:name="${checkIn}" th:field="*{checkOut}" />
			</div>
			<div class="form-field">
				<label>Number of guests</label><br/>
				<div class="fieldErrorMessage" th:if="${#fields.hasErrors('guestCount')}" th:errors="*{guestCount}">Form error</div>
				<input type="number" id="guestCount" th:name="${guestCount}" th:field="*{guestCount}" />
			</div>
			<button type="submit">Make reservation</button>
		</form>
		<br/>
		<div th:id=total id=total></div>
	</div>
	<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		function displayTotal() {
		    const checkInField = document.getElementById("checkIn");
		    const checkOutField = document.getElementById("checkOut");
		    const priceElem = document.getElementById('price');
		    const totalElem = document.getElementById('total');
		    
		    const pricePerNight = parseFloat(priceElem.textContent, 10);
		    
		    checkInField.addEventListener("change", onCheckInDateChange);
		    checkOutField.addEventListener("change", onCheckOutDateChange);
		    
		    function getDiff(dateIn, dateOut){
	    		const dIn = moment(dateIn);
	    		const dOut = moment(dateOut);
	    		const days = dOut.diff(dIn, 'days');
	    		if (days >= 1){
	    			const total = days * pricePerNight;
		    		totalElem.innerHTML = "<span>Total to pay: <strong>" + total + "$</strong></span>";	
	    		} else {
	    			totalElem.innerHTML = "";
	    		}	    				    	
		    }
		    
		    function onCheckInDateChange(event){
		    	const checkInDate = moment(event.target.value);	    	
		    	if (checkOutField.value !== ""){
		    		getDiff(checkInDate, checkOutField.value);
		    	}	    	
		    }
		    
		    function onCheckOutDateChange(event){
		    	const checkOutDate = moment(event.target.value);
		    	if (checkInField.value !== ""){
		    		getDiff(checkInField.value, checkOutDate);
		    	}
		    }
		}
		displayTotal(); // don't forget to call this function on the first run
	});
	
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
</body>
</html>