@charset "UTF-8";

body{
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
}

a:active {
	color: inherit;
}
