@charset "UTF-8";
a {
	text-decoration:none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.vehicle{
	padding: 20px;
}
.vehicle-details{
	border: 1px solid black;
	border-radius: 4px;
	margin-bottom: 5vh;
	padding: 1em 1em;
	text-align: center;
}

.booking{
	padding: 20px;
}
.booking-details{
	border: 1px solid black;
	border-radius: 4px;
	margin-bottom: 5vh;
	padding: 1em 1em;
	text-align: center;
}

.card-photo{
	background-image: url('../images/rv.jpg');
	background-size: cover;
	height: 10em;
	margin-bottom: 5px;
}

.future-booking{
	background-color: rgb(182,250,170);
	border: 3px solid rgb(127, 250,108);
}

.booking{
	padding: 0.5em;
	border-radius: 3px;
}

.old-booking{
	background-color: rgb(243,250,242);
	border: 3px solid rgb(235, 240,230);
}

#user-bookings{
	margin-bottom: 2em;
}