<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <title th:text="${'Booking at ' + booking.vehicle.localisation}">Booking details</title>
		<th:block th:include="fragments/htmlhead"/>    
	</head>

	<body>
		<th:block th:replace="fragments/navbar"/>
		<div class="container">
			<h1 th:text="#{bookingDetails.title}">Booking details</h1>
			
			<p><span th:text="#{bookingDetails.checkIn}">Check-in: </span> <span th:text="${booking.checkIn}">Date of check-in</span></p>
			<p><span th:text="#{bookingDetails.checkOut}">Check-out: </span> <span th:text="${booking.checkOut}">Date of check-out</span></p>
			<p><span th:text="#{bookingDetails.localization}">Localization: </span> <span th:text="${booking.vehicle.localisation}">Localization</span></p>
			<p><span th:text="#{bookigDetails.guestNum}">Number of guests: </span> <span th:text="${booking.guestCount}">Number of guests</span></p>
			<p><span th:text="#{bookingDetails.totalPrice}">Total price: </span> <span th:text="${booking.totalPrice}">Total price: </span> $</p>
			<p><span th:text="#{bookingDetails.owner}">Owner: </span> 
				<a th:text="${booking.vehicle.user.firstName +' ' + booking.vehicle.user.lastName}" 
				   th:href="@{/users/__${booking.vehicle.user.id}__}">Owner
				</a>			
			</p>
			<p>
				<a th:text="#{bookingDetails.vehiclePageLink}" 
				   th:href="@{/vehicles/__${booking.vehicle.id}__}">Vehicle page
				</a>			
			</p>
			<p><a th:href="@{'/'}" th:text="#{vehicleDetails.backToHome}">Back to home page</a></p>
			
			<form action="#" th:action="@{/bookings/__${booking.id}__}" th:method="delete">
		 		<button type="submit"  th:text="#{bookingDetails.delete}" onClick="return confirm('Are you sure?')">Delete booking</button>
			</form>
		</div>
	</body>
</html>