<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	
	    <title th:text="${userPageTitle}">User</title>
	    
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet" />
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" /> 
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/user-details.css">
		
	    <!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<th:block th:replace="fragments/navbar"/>
		<div class="container">
			<div id="user-profile">
				<h1 th:text="#{userDetails.title}">User details</h1>
				<p><span th:text="#{userDetails.firstName}">First name: </span> <span th:text="${user.firstName}">firstName</span></p>
				<p><span th:text="#{userDetails.lastName}">Last name: </span><span th:text="${user.lastName}">lastName</span></p>
				<p><span th:text="#{userDetails.email}">Email: </span><span th:text="${user.emailAddress}">emailAddress</span></p>
				<p><span th:text="#{userDetails.phone}">Phone: </span><span th:text="${user.phoneNumber}">phoneNumber</span></p>
				<br/>
				<a th:href="@{'/'}" th:text="#{userDetails.backToHome}">Back to home page</a>
			</div>
			
			<h3 th:text="#{userDetails.myVehicles.title}">My Vehicles</h3>
			<form action="#" th:action="@{/vehicles/new}" method="get">
      			<button type="submit" th:text="#{userDetails.myVehicles.createNew.button}">Create new</button>
    		</form>
			<div id="user-rvs" th:if="${not #lists.isEmpty(userVehicles)}">
				<div id="my-vehicles" class="row">
					<div th:each="vehicle : ${userVehicles}" th:id="${'vehicle-' + vehicle.id}" class="vehicle col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a th:href="@{/vehicles/__${vehicle.id}__}">
							<div class="vehicle-details">
								<div class="card-photo">
					   
					            </div>
								<p th:text="${vehicle.name}">Vehicle name</p>
								<p th:text="${vehicle.localisation}">Vehicle localization</p>
								<p><span th:text="${vehicle.pricePerNight}">Price per night</span> $ / night </p>
							</div>
						</a>
					</div>
				</div>
			</div>
			
			<h3 th:text="#{userDetails.myBookings.title}">My Bookings</h3>
			<div id="user-bookings" th:if="${not #lists.isEmpty(userBookings)}">
				<div id="my-bookings" class="row" >
					<div th:each="booking : ${userBookings}" th:id="${'booking-' + booking.id}" class="booking col-xs-12 col-sm-6 col-md-4 col-lg-3">
						 <a th:href="@{/bookings/__${booking.id}__}">
							<div class="booking-details"  th:classappend="${booking.completed} ? old-booking : future-booking">
								<p>At <span th:text="${booking.vehicle.localisation}">Vehicle localization</span></p>
								<p>From <span th:text="${booking.checkIn}">Check-in date</span> 
								   to <span th:text="${booking.checkOut}">Check-out date</span>
								</p>
								<p><span th:text="${booking.totalPrice}">Total amount</span> $</p>
							</div>
						 </a>
					</div>
				</div>
			</div>
			<div class="no-result" th:if="${#lists.isEmpty(userVehicles)}" th:text="#{userDetails.emptyVehicles}">
				You don't have any vehicles yet
			</div>
			
			<div class="no-result" th:if="${#lists.isEmpty(userBookings)}" th:text="#{userDetails.emptyBookings}">
				You don't have any bookings yet
			</div>
		</div>    
	</body>
</html>