<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <title>Vehicle form</title>	  
		<link rel="stylesheet" type="text/css" href="/css/form.css">
		<th:block th:include="fragments/htmlhead"/>        
	</head>
	<body>
		<th:block th:replace="fragments/navbar"/>
		<div class="container text-center">
			<h1 th:text="${#httpServletRequest.requestURI == '/vehicles/new'} ? 'Create RV' : 'Edit RV'">
				
			</h1>
			
			<div th:replace="fragments/vehicle-form-fr">
			</div>
	</body>
</html>