<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <title th:text="#{vehicles.title}">Vehicles to rent</title>
		<link rel="stylesheet" type="text/css" href="/css/vehicle-list.css" th:href="@{css/vehicle-list.css}">
		<th:block th:include="fragments/htmlhead"/>    
	</head>
	<body>
		<th:block th:replace="fragments/navbar"/>
		<div class="container">
			<h1 th:text="#{vehicles.heading}">Vehicles to Rent</h1>
			
			<div id="searchVehicle">
		      <form action="#" th:action="@{/}" method="get">
		        <label for="searchField" th:text="#{vehicles.search.caption}">Search for Vehicles</label> 
		        <input id="searchField" name="searchCriteria" type="text" placeholder="Type name or localization" th:placeholder="#{vehicles.search.textbox.placeholder}" autocomplete="off" />
		        <button class="submitButton" title="Search" th:title="#{vehicles.search.button.title}" type="submit">Search</button>
		      </form>
		    </div>
			
			<div class="vehicleList" th:if="${not #lists.isEmpty(allVehicles)}">
				<div th:each="vehicle : ${allVehicles.content}" th:id="${'vehicle-' + vehicle.id}" th:class="vehicle">
					<a th:href="@{/vehicles/__${vehicle.id}__}">
						<div class="vehicle-details">
							<p th:text="${vehicle.name}">Vehicle name</p>
							<p th:text="${vehicle.localisation}">Vehicle localization</p>
							<p><span th:text="${vehicle.pricePerNight + ' $ / night'}">Price per night</span></p>
						</div>
					</a>
				</div>
			</div>
			<div class="no-result" th:if="${#lists.isEmpty(allVehicles.content)}">
				<span th:text="#{vehicles.no-record}">There are not any vehicles yet</span>
			</div>
			
			<div th:replace="fragments/pagination :: pagingStripe(allVehicles)">
			</div>
		</div>
	</body>
</html>